@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

p, h1, h2, h3, h4, h5, h6 {
   text-align: center;
   font-family: 'Inter', sans-serif;
}
