:root {
   --primary: #241e30;
   --primary-light: #373141;
   --primary-dark: #000008;

   --accent: #1b5e20;
   --accent-light: #4c8c4a;
   --accent-dark: #003300;
}

html {
   /*background-color: var(--primary-light);*/
   scroll-behavior: smooth;
   background-color: var(--primary);
}

@media print {
   p { page-break-before: always; }
}

.light {
   color: white;
}

.dark {
   color: black;
}

.bg-primary {
   background-color: var(--primary);
   color: white;
}

.bg-primary-light {
   background-color: var(--primary-light);
   color: white;
}

.center {
   display: flex;
   justify-content: center;
   align-items: center;
}

.content-body {
   text-align: left;
   margin-left: 3em;
   margin-right: 3em;
   display: block;
}

.content-title {
   text-align: center;
}

.content-header {
   margin-top: 30vh;
   text-align: center;
}

.fill-img {
   object-fit: cover;
   width: 100%;
}

.slant {
   clip-path: polygon(0 0, 100% 0, 100% calc(100% - 7vw), 0 100%);
  	-webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 7vw), 0 100%);
  	margin-bottom: -7vw;
}

#cover-img {
   height: 98vh;
   background-image: url("../img/luca-bravo-VowIFDxogG4-unsplash.optimised.jpg");
   background-size: cover;
   background-attachment: fixed;
}

.overlay-container {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center
}

.overlay {
   background-color: rgba(124, 124, 124, 0.719);
   backdrop-filter: blur(10px);
   align-content: center;
   border: 10px solid var(--primary);
   padding: 1em;
   color: white;
}

@keyframes bob {
   0% {
     transform: translateY(-30%);
   }
 
   50% {
     transform: translateY(30%);
   }
 
   100% {
     transform: translateY(-30%);
   }
 }


.scroll-button {
   max-width: 5em;
   margin: 0 auto;
   fill: white;
   display: block;
   width: auto !important;
   animation: bob 4s ease infinite;
   text-align: center;
   padding: 0.1em;
   color: white;
}

a {
   text-decoration: none;
   color: var(--accent-light);
}

a:visited {
   color: cadetblue;
}

a:hover {
   text-decoration: underline;
}

.subtle, .subtle a {
   color: var(--primary-light);
   text-align: center;
   fill: var(--primary-light);
   transition: 500ms ease-in-out;
   font-family: 'Inter', sans-serif;
   justify-content: center;
   text-decoration: none;
}

.subtle:hover * {
   color: white;
   transition: 500ms ease-in-out;
   font-size: 110%;
   fill: white;
}

.subtle:hover a {
   color: var(--accent-light);
}

.project-icons {
   filter: brightness(0) invert(1);
   transition: 500ms ease-in-out;
   margin: auto;
}

.project-icons > a > svg {
   width: 4em;
}

#parallaximg2 {
   height: 75vh;
   background-attachment: fixed;
   background-size: cover;
   background-image: url("../img/dan-otis-OYFHT4X5isg-unsplash.optimised.jpg");
}

footer {
   color: white;
   border-top: 4px solid black;
}

ul {
   padding-left: 5em;
}

 /*
   Transitions
   Fade from the colour on the left to the colour on the right
*/

.transition-primary-to-primarylight {
   background: var(--primary);
   background: linear-gradient(90deg, var(--primary) 0%, var(--primary-light) 100%); 
}

